body {
    background-image: url("../assets/images/background.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    background-attachment: fixed;
    background-position: center;
}

header {
    text-align: center;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
    font-size: larger;
    margin: 1rem;
}

.game-over {
    text-align: center;
}

.restart {
    border: none;
    font-weight: bolder;
    font-size: xx-large;
    cursor: pointer;
    background-color: rgba(0, 0, 0, 0.5);
    border-radius: 1rem;
    color: #ffffdb;
}

.restart:hover {
    background-color: rgba(0, 0, 0, 0.7);
}
