header {
    text-align: center;
}

.card-grid {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.info {
    display: flex;
    justify-content: space-around;
    width: 100vw;
    flex-wrap: wrap;
    font-size: larger;
    margin: 1rem;
}